/* needs to be !important to override inline style */

div.advert.top,
div.advert.top div,
div.advert.top iframe,
div.advert.right.advert--right-rail,
div.advert.right.advert--right-rail div,
div.advert.right.advert--right-rail iframe,
div.advert.incontent.advert--inline,
div.advert.incontent.advert--inline div,
div.advert.incontent.advert--inline iframe,
div.advert.incontent.advert--full-width,
div.advert.incontent.advert--full-width div,
div.advert.incontent.advert--full-width iframe {
    min-height: 1px !important;
    height: 1px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
}

div.advert:before {
    content: "" !important;
}

@media print {
    div.article-recirculation-aside,
    div.related-articles,
    div.ds-layout-grid.ds-layout-grid--edged.newsletter-signup,
    footer.ds-footer {
        display: none !important;
    }
}
