/* needs to be !important to override inline style */

/* make boundaries between posts clearer */
.mbm {
    margin-bottom: 200px !important;
}
._1qby {
    margin-bottom: 100px !important;
}

/* button for show/hide comments */
.showComments {
    width: 100% - 14px;
    border: 2px solid gray;
    padding: 5px;
}
