/* needs to be !important to override inline style */
gpt-ad,
.ad-boxinjector-d-wrapper,
.ad-boxinjector-flex-d-wrapper,
.ad-boxrr-wrapper,
.ad-native-rr-wrapper,
.c-bottom-persistent-ad,
.js-bottom-persistent-ad,
.cnvr-ad-ubr-iframe,
.cnvr-ad-container,
.dynamicAdvertContainer {
	display: none !important;
}

/* hide the crossword puzzles */
.HomepageMiddle_crossword__hyFhr,
.CrosswordLayout_flexWrapper__tZldS {
    visibility: hidden;
}

.ArticleInjector_clsAvoider__pXehw {
    margin-bottom: 0 !important;
    padding: 1px !important;
    height: 1px !important;
    min-height: 1px !important;
}
